@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #141517;
  color: #e5e7eb;
  min-height: 100vh;
}

.dark {
  color-scheme: dark;
}

.dark body {
  background-color: #141517;
  color: #e5e7eb;
}

.light {
  color-scheme: light;
}

.light body {
  background-color: #ffffff;
  color: #111827;
}

